body {
    background : url("../images/background.jpg"); 
    background-attachment: fixed; 
    background-size: cover;
    background-position: center; 
    margin: 0;
    padding: 0;
  } 

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000;
    opacity: 1;
    top: 0;
    width: 100%;
    font-size: 20px;
  }

  #header_logo {
    height: 80px;
    margin: 25px;
  }